streamlit>=1.25.0
openai>=1.6.1
oss2>=2.18.2
pandas>=1.5.3
requests>=2.31.0
python-dotenv>=1.0.0
matplotlib>=3.7.0
jinja2>=3.1.2
networkx>=3.0
torch>=2.0.1
pillow>=10.0.0
pyvis>=0.3.2
hanlp>=2.1.0

# 新增支持申论批阅OCR功能
paddleocr>=2.6.1
paddlepaddle>=2.5.0  # 注意: 根据你的机器(CPU/GPU)调整版本
pdfplumber>=0.7.6
python-docx>=0.8.11
